<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<ul>
  <li>Location：<%= @user.location %></li>
  <li>age：<%= @user.age %></li>
  <li style="word-wrap: break-word;max-width: 200px;">
    profile：<%= simple_format @user.profile %></li>
</ul>